/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/node_modules
vendor/*
/public/arquivos_obras
/public/storage
Homestead.yaml
Homestead.json
.env
storage/framework
storage/logs
public/arquivos_obras
/storage
_ide_helper.php
/nbproject
/config/custom_report.php
composer.lock
public/sicom/*
*.phar
.vscode